*{
  padding: 0px;
  margin: 0px; 
  font-family: 'Lexend', sans-serif;
  /* scroll-behavior: smooth; */
}


:root{
  --navbar:rgb(31,41,55);
  --bodycolor:rgb(17,24,39);
  --textcolor:rgb(256,256,256);
  --texthover:#1DA4FB;
  --secondcolor:#fa8094;
}

body{
  background-color: var(--bodycolor) !important;
}
 

.container-fluid{
  margin: 0px 30px ;
}

@media screen and (max-width:767px) {
  .container-fluid {
    margin: 0px 10px;
  }
}

.btn{
  background: none;
  border: none;
}

.page{
 min-height: calc(100vh - 40px);  
}

html{
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth; */
}

 .container-fluid,.another-effect{
   /* scroll-snap-align: center; */
  } 
  .parallel-effect{
    /* height: 100vh; */
  }